{% extends 'base.html.twig' %}

{% block title %}Goal index{% endblock %}

{% block body %}
    <div class="wrapper">
        {% for goal in goals %}          
            <a class="goal--link" href="{{ path('goal_show', {'id': goal.id}) }}">
                <div class="goal--block">
                  <h2 class="goal--title">{{ goal.title }}</h2>
                  <p class="goal--streak">Current Streak: 13 days</p>
                  <p class="goal--complete">Days Complete: 24</p>
                  {# <a href="{{ path('goal_edit', {'id': goal.id}) }}">edit</a> #}
                </div>
            </a>
        {% else %}
            <a href="{{ path('goal_new') }}">Start adding goals!</a>
        {% endfor %}
    </div>
    <a href="{{ path('goal_new') }}">Create new</a>
{% endblock %}
